/* 
    1- Posicionamiento
    2- Modelo de Caja (Box Model)
    3- Tipografía
    4- Visuales
    5- Miselaneos (Otros)
*/

:root {
    /* Colores */
    --bitcoin-oranje: #F7931A;
    --soft-oranje: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'DM Sans', sans-serif;
    background-color: var(--off-white);
}

svg{
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 15rem;
    height: 2.4rem;
    margin-top: 4.2rem;
    margin-bottom: 3.6rem;
    
}

.header__title-container {
    flex-grow: 1;
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin-bottom: 3.6rem;
    color: var(--just-white);
}

.header__title-container h1 {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.header__title-container p {
    font-size: 1.4rem;
}

.header__nav {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
}

.header__button{
    position: absolute;
    bottom: -2.4rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    min-width: 23rem;
    height: 4.8rem;
    padding: 1.5rem 1.6rem;

    font-size: 1.4rem;
    font-weight: bold;
    color: var(--warm-black);

    background-color: var(--off-white);
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header__button span{
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 1.4rem;
    background-image: url('./../assets/icons/down-arrow.svg');
}


/* ===== ===== main-exchange-container ===== ===== */

main {
    width: 100%;
}

.main-exchange-container {
    width: 100%;
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
}

.main-exchange-container--image {
    width: 19.5rem;
    height: 19.5rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.main-exchange-container--image img{
    width: 100%;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;
    margin-bottom: 4.8rem;
    text-align: center;
    
}

.main-exchange-container--title h2 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 2.4rem;
    color: var(--warm-black);
}

.main-exchange-container--title p {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
}

/* Tables */
.main-exchange-container--table {
    position: relative;
    min-width: 32rem;
    max-width: 50rem;
    width: 100%;
    min-height: 30rem;
    margin: 0 auto;
    overflow: hidden;
}

/* slider */
.sliders-table {
    display: flex;
    transform: translateY(0);
    transition: all 0.5s;
}

.sliders-table__slider {
    max-width: 50rem;
    min-width: 100%;
    margin: 0 auto;
}

.slider-controls {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 32rem;
    height: 32rem;
    display: flex;
    align-items: center;
}

.slider-controls__btn{
    background: none;
    border: none;
    max-width: 3rem;
    cursor: pointer;
    opacity: 0.5;

    transition: all 0.5s;
}

.slider-controls__btn:hover{
    opacity: 1;
}

.slider-controls_prev{
    transform: scaleX(-1);
    display: none;
    
}

.slider-controls_next {
    margin-left: auto;
}

.main-currency-table {
    width: 32rem;
    height: 36rem;
    margin: 0 auto;
}
.main-currency-table--title {
    margin-left: 2.4rem;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--bitcoin-oranje);
    margin-bottom: 1.2rem;
    line-height: 2.3rem;
}

.currency-table-container {
    width: 95%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;
    margin: 0 auto;
    margin-bottom: 1.6rem;
}

.currency-table-container table {
    width: 100%;
    height: 100%;
}

.currency-table-container table td{
    width: 50%;
    padding: 1.2rem;
    font-family: 'Inter' sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table-container table .table__right {
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    line-height: 1.694rem;
}

.currency-table-container table .table__top-let {
    border-radius: 0.8rem 0 0 0;
}
.currency-table-container table .table__top-right {
    border-radius: 0 0.8rem 0 0;
}
.currency-table-container table .table__bottom-right {
    border-radius: 0 0 0.8rem 0;
}
.currency-table-container table .table__bottom-left {
    border-radius: 0 0 0 0.8rem;
}

.currency-table-container .table__right .down {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-image: url('./../assets/icons/trending-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.currency-table-container .table__right .up {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-image: url('./../assets/icons/trending-up.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.currency-table-date {
    text-align: center;
}

.currency-table-date p {
    display: inline-block;
    font-size: 1.6rem;
    padding: 0.8rem;
    font-family: 'Inter' sans-serif;
    background-color: #FFE9D5;
    counter-reset: var(--warm-black);
    border-radius: 0.8rem;
}

.currency-table-date p span {
    font-weight: 800;
}

.commissions .main-currency-table--title {
    color: var(--secondary-blue);
}

.commissions .currency-table-date p {
    background-color: rgba(231, 245, 255, 1);
}

/* ===== ===== main-product-detail ===== ===== */

.main-product-detail {
    position: relative;
    background-color: var(--warm-black);
    color: var(--just-white);
    width: 100%;
    min-width: 32rem;
    padding: 6.4rem 1.6rem;
}

.main-product-detail--batata-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1.25rem;
    width: 4rem;
    height: 2.5rem;
    background: url('./../assets/icons/batata.svg');

}

.main-product-detail--title {
    font-size: 2.4rem;
    text-align: center;
    line-height: 2.6rem;
    margin-bottom: 2.4rem;
}

.main-product-detail--subtitle {
    text-align: center;
    font-size: 1.4rem;
    color: #808080;
    line-height: 1.8rem;
    margin-bottom: 3.2rem;
}

.product-cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    justify-content: center;
    gap: 1.6rem;
    max-width: 90rem;
    margin: 0 auto;
}

.product-detail__card {
    padding: 1.6rem;
    background-color: var(--black);
    border-radius: 0.4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail__card-image {
    width: 2rem;
    height: 2rem;
    margin-bottom: 1.2rem;
}

.product-detail__card-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

.product-detail__card-desc{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
}

/* ===== ===== bitcoin-img-container ===== ===== */

.bitcoin-img-container {
    min-width: 32rem;
    width: 100%;
    height: 50vh;
    background-image: url('./../assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bitcoin-img-container h2 {
    padding-top: 6.4rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}


/* ===== ===== main-plans-container ===== ===== */
.main-plans-container {
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
}

.main-plans-container--title {
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin-bottom: 2.4rem;
}

.main-plans-container--subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 3rem;
}

/* Sliders */
.plans-container{
    position: relative;
    max-width: 40rem;
    margin: 0 auto;
    overflow: hidden;
}
.plans-container--slider {
    display: flex;
    justify-content: center;
    gap: 1rem;
    min-width: 22rem;
    max-width: 24rem;
    width: 100%;
    margin: 0 auto;
    transition: all 0.5s;
    /* scroll-snap-align: center; */
}

.plan-content--slide {
    position: relative;
    margin: 2rem auto;
    min-width: 22rem;
    max-width: 32rem;
    padding: 1.6rem;
    background-color: var(--just-white);
    border-radius: 0.8rem;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    
}

.plan-content--recommended {
    position: absolute;
    top: -1.6rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.8rem;
    font-family: 'Inter' sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    background-color: var(--bitcoin-oranje);
    color: var(--just-white);
}

.plan-content--title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 0.8rem;
}

.plan-content--price {
    position: relative;
    font-size: 5.2rem;
    color: #000000;
    line-height: 6.3rem;
    font-weight: 700;
    font-family: 'Inter' sans-serif;
    margin-bottom: 1.6rem;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.plan-content--price span {
    position: absolute;
    top: -1.2rem;
    left: -0.2rem;
    font-size: 1.2rem;
    
    
}

.plan-content--description {
    min-height: 4rem;
    margin-bottom: 1.6rem;
    font-weight: normal;
    font-family: 'Inter' sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #757575;
}

.plan-content--button {
    display: flex;
    align-items: center;
    padding: 1.3rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 auto;
    border: 2px solid var(--bitcoin-oranje);
    border-radius: 0.4rem;
    background-color: #FAF8F7;
    cursor: pointer;
}

.plan-content--button span {
    margin-left: 1rem;
}

.plan-content--button:active {
    transform: scale(0.98);
}

/* Gradients */
.gradient-left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5rem;
    background: linear-gradient(to right, var(--off-white) 60%, transparent);
}
.gradient-right { 
    position: absolute;
    right: 0;
    top: 0;
    width: 5rem;
    height: 100%;
    background: linear-gradient(to left, var(--off-white) 60%, transparent);
}
/* controls */

.main-plans__controls-btn {
    border: none;
    background: none;
    outline: none;
}

.main-plans__controls-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2rem;    
}

.main-plans__controls-prev svg {
    transform: scaleX(-1);
}

.main-plans__controls-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: 2rem;    
}

/* ===== ===== footer ===== ===== */

footer {
    background-color: var(--bitcoin-oranje);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

footer .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 90rem;
    min-width: 32rem;
    margin: 0 auto;
}

footer li {
    margin-bottom: 1rem;
}
footer li a {
    font-size: 1.4rem;
    color: var(--just-white);
}
